<div class="col-lg-3 mb-4" >
  <div class="card mb-4" style="width: 18rem;">
    <img src="https://via.placeholder.com/250" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{name}}</h5>
      <p class="card-text">{{name}}</p>
      <a href="{{url}}" class="btn btn-primary">Go to game page</a>
    </div>
  </div>
</div>
